.searchbarUnit {
    float: left;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    margin-top: 42px;
}

.form-wrapper {
        width: 325px;
        height: 35px;
        padding: 12px;
        background: #444;
        background: rgba(0,0,0,.2);
        border-radius: 10px;
        box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
    }
    
    .form-wrapper input {
        width: 205px;
        height: 15px;
        padding: 10px 5px;
        float: left;    
        font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
        border: 0;
        background: #eee;
        border-radius: 3px 0 0 3px;      
    }
    
    .form-wrapper input:focus {
        outline: 0;
        background: #fff;
        box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    }


    .form-wrapper button {
        overflow: visible;
        position: relative;
        float: right;
        border: 0;
        padding: 0;
        cursor: pointer;
        height: 35px;
        width: 110px;
        font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
        color: #fff;
        text-transform: uppercase;
        background: #0b1991;
        border-radius: 0 3px 3px 0;
        text-shadow: 0 -1px 0 rgba(0, 0,0, .3);
    }

        .form-wrapper button:hover {
            background: #0b1991;
        }

        .form-wrapper button:active,
        .form-wrapper button:focus {
            background: #0b1991;
        }

        .form-wrapper button:before {
            content: '';
            position: absolute;
            border-width: 8px 8px 8px 0;
            border-style: solid solid solid none;
            border-color: transparent #0b1991 transparent;
            top: 12px;
            left: -6px;
        }

        .form-wrapper button:hover:before {
            border-right-color: #0b1991;
        }

        .form-wrapper button:focus:before {
            border-right-color: #0b1991;
        }    
    