.para{
    font-size : inherit;
    font-style : oblique;
}

/*button*/
.dropdown1 {
    float: left; /*allign the button on the right*/
    overflow: hidden; /*remove the overflow*/
    padding:0px 8px 0px 16px;
    
}

    /* drp_down button */
    .dropdown1 .dropbtn1 {
        background: url(../images/services.png) no-repeat left;
        font-size: inherit;
        border: none;
        padding: 17px 8px 20px 24px;
        background-color: inherit; /* inherit colour from superiour classes*/
        font-family: inherit; /* used for mobile */
        margin: 0; /* mobile use */
        font-weight: bold;
        color: #676d77;
    }

    /*colour used for hovering over the drp_down bttn*/
    a:hover, .dropdown1:hover .dropbtn1 {
        background-color: none;
    }

/* button content ,HIDDEN! */
.dropdown-content1 {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 5%; /* used for the with of the links inside the hover button*/
    /*
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  used for shadow on the box
*/
    /* z-index: 1; used for stack index if neccesary*/
}

    /* links situated in the drp_down button */
    .dropdown-content1 a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

        /* used only for the links inside the drp_down button to have a effect when hovering */
        .dropdown-content1 a:hover {
            background-color: #ddd;
        }

/* drp_down menue when hovering */
.dropdown1:hover .dropdown-content1 {
    display: block;
}



/*button*/
.dropdown2 {
    float: left; /*allign the button on the right*/
    overflow: hidden; /*remove the overflow*/
    padding: 0px 8px 0px 16px;
}

    /* drp_down button */
    .dropdown2 .dropbtn2 {
        
        font-size: inherit;
        border: none;
        outline: black;
        color: black;
        padding: 17px 8px 20px 24px;
        background-color: inherit; /* inherit colour from superiour classes*/
        font-family: inherit; /* used for mobile */
        margin: 0; /* mobile use */
        font-weight: bold;
        color: #676d77;
        background: url(../images/contact-new.png) no-repeat left;
    }

    /*colour used for hovering over the drp_down bttn*/
    a:hover, .dropdown2:hover .dropbtn2 {
        background-color: none;
    }

/* button content ,HIDDEN! */
.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 5%; /* used for the with of the links inside the hover button*/
    /*
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  used for shadow on the box
*/
    /* z-index: 1; used for stack index if neccesary*/
}

    /* links situated in the drp_down button */
    .dropdown-content2 a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

        /* used only for the links inside the drp_down button to have a effect when hovering */
        .dropdown-content2 a:hover {
            background-color: #ddd;
        }

/* drp_down menue when hovering */
.dropdown2:hover .dropdown-content2 {
    display: block;
}






/*advanced search label*/
.advSlbl{
    font-size:130%;
    font-family:Arial, Helvetica, sans-serif;
    display:inline-block;
}
/*advanced search field set*/
.advSfldset{
    display:inline-block;
}
/*advanced search legend*/
.advSleg {
    font-size: 130%;
    font-family: Arial, Helvetica, sans-serif;
    display:inline-block;
    padding-left:5px;
}
.lgdLiv {
    background: rgba(255,175,75,1);
    background: -moz-linear-gradient(45deg, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 80%, rgba(255,146,10,1) 83%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(255,175,75,1)), color-stop(80%, rgba(255,146,10,1)), color-stop(83%, rgba(255,146,10,1)));
    background: -webkit-linear-gradient(45deg, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 80%, rgba(255,146,10,1) 83%);
    background: -o-linear-gradient(45deg, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 80%, rgba(255,146,10,1) 83%);
    background: -ms-linear-gradient(45deg, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 80%, rgba(255,146,10,1) 83%);
    background: linear-gradient(45deg, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 80%, rgba(255,146,10,1) 83%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a', GradientType=1 );
    display: block;
    width: 19%;
    /*  height:900000%;*/
    border-radius: 15px;
    box-shadow: inset 0px 0px 3px 5px white;
}
.blocks_a{
    display:inline-block;
}
.pad{
    
    padding-top:13px;
    padding-bottom:13px;
    padding-left:13px;
    padding-right:13px;
}