#bodyMain {
}

@media (max-width: 719px) {
    #bodyMain #checkoutBox {/*modificat*/
        margin-top: 50px;
        width: 450px;
        height: 1050px;
        background-color: #f7f7f7;
        margin-left: auto;
        margin-right: auto;
        border-width: 4px;
        border-style: groove;
        border-color: #3D4597;
    }

        #bodyMain #checkoutBox #siteLogo { /*modificat*/
            width: 100%;
            height: auto;
            float: left;
            margin-bottom: -10px;
        }
        #bodyMain #checkoutBox #siteLogoContainer { /*modificat*/
            width: 170px;
            margin-left: auto;
            margin-right: auto;
        }
    #heading1 { /*modificat*/
        height: 200px;
        text-align: center;
        color: #3D4597;
        padding-top: 1px;
        border-bottom-width: 6px;
        border-bottom-style: solid;
        border-bottom-color: currentcolor;
        background-color: #fff3da;
        margin-top: 0px;
    }

        #heading1 h1 { /*modificat*/
            font-family: 'Arial Unicode MS';
            font-size: 55px;
        }

    #bodyMain #checkoutBox #infoBox { /*modificat*/
        height: 250px;
        width: 100%;
    }

        #bodyMain #checkoutBox #infoBox #productImage { /*modificat*/
            margin: 10px;
            margin-left: auto;
            margin-right: auto;
            width: 280px;
            height: 300px;
            background-color: #ffffff;
        }

            #bodyMain #checkoutBox #infoBox #productImage img { /*modificat*/
                width: 100%;
                height: auto;
                max-height: 100%;
                margin-top: auto;
                margin-bottom: auto;
            }

    #bodyMain #checkoutBox #paypalBox { /*modificat*/
        height: 200px;
        width: 230px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-size:20px;
        margin-top:400px;
    }
    #bodyMain #checkoutBox #infoBox #detailsList {
        margin-left: 10px;
        width: 400px;
        height: 240px;
        float: left;
        font-size: 25px;
    }
    #bodyMain #checkoutBox #infoBox #detailsList li {
        background: unset;
    }

    #bodyMain #checkoutBox #infoBox #detailsList mark {
        background: unset;
        font-weight: 900;
    }
}

@media (min-width: 720px) {
    #bodyMain #checkoutBox {
        margin-top: 50px;
        width: 700px;
        height: 550px;
        background-color: #f7f7f7;
        margin-left: auto;
        margin-right: auto;
        border-width: 4px;
        border-style: groove;
        border-color: #3D4597;
    }

        #bodyMain #checkoutBox #siteLogo {
            width: 170px;
            height: auto;
            margin-top: -5px;
            margin-left: -5px;
            float: left
        }

    #heading1 {
        height: 120px;
        text-align: center;
        color: #3D4597;
        padding-top: 1px;
        border-bottom-width: 6px;
        border-bottom-style: solid;
        border-bottom-color: currentcolor;
        background-color: #fff3da;
    }

        #heading1 h1 {
            font-family: 'Arial Unicode MS';
            font-size: 55px;
            margin-top: 20px;
        }

    #bodyMain #checkoutBox #infoBox {
        height: 250px;
        width: 100%;
        float: left;
    }

        #bodyMain #checkoutBox #infoBox #productImage {
            margin: 10px;
            float: left;
            width: 280px;
            height: 300px;
            background-color: #ffffff;
        }

            #bodyMain #checkoutBox #infoBox #productImage img {
                width: 100%;
                height: auto;
                max-height: 100%;
            }

        #bodyMain #checkoutBox #infoBox #detailsList {
            margin-left: -12px;
            width: 400px;
            height: 240px;
            float: left;
            font-size:20px;
        }



    #bodyMain #checkoutBox #paypalBox {
        height: 200px;
        width: 230px;
        text-align: center;
        float:right;
        margin-right:60px;
        margin-top:-10px;
    }

}



        #bodyMain #checkoutBox #infoBox #detailsList li {
            background: unset;
        }

        #bodyMain #checkoutBox #infoBox #detailsList mark {
            background: unset;
            font-weight: 900;
        }

    #bodyMain #checkoutBox #paypalBox form {
        height: 100%;
        width: 100%;
    }

    #bodyMain #checkoutBox #paypalBox #field1, #field2 {
        width: 220px;
    }

    #bodyMain #checkoutBox #paypalBox #button {
        text-align: center;
        margin-top: 5px;
    }