#bodyMain {
}

    #bodyMain #siteLogo {
        width: 240px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        margin-top: -10px;
        margin-bottom: -10px;
    }

        #bodyMain #siteLogo img {
            width: 240px;
            height: auto;
        }

    #bodyMain #lgnPanel {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        background-color: #fff3da;
        padding: 8px;
        width: 280px;
        margin-top: 10px;
        box-sizing: border-box;
        border-radius: 6px;
        box-shadow: 0 0px 6px 0 #5f94f8, 0 10px 15px 0 rgba(126, 126, 126, 0.12), 0 -2px 6px 1px rgba(199, 199, 199, 0.55) inset, 0 2px 4px 2px rgba(255, 255, 255, 0.83) inset;
    }

        #bodyMain #lgnPanel h1 {
            //color:yellow;
            margin-top: 10px;
            margin-bottom: 10px;
            font-family: Cambria;
            font-size: 35px;
            color: #3D4597;
        }

        #bodyMain #lgnPanel #userField, #passField {
            background-color: #d2dfff;
            width: 240px;
            box-sizing: border-box;
            border-radius: 5px;
            padding: 3px;
        }

        #bodyMain #lgnPanel h2 {
            color: black;
            text-align: left;
            font-size: 15px;
            margin-left: 14px;
            margin-bottom: 2px;
        }

        #bodyMain #lgnPanel #lgnButton {
            background-color: #F3781E;
            top: 100px;
            margin-top: 25px;
            //color: orangered;
            font-size: 18px;
            width: 50%;
            border-radius: 5px;
            padding: 2px;
        }

        #bodyMain #lgnPanel #frgtPass {
            margin-top: 10px;
            margin-bottom: 10px;
        }
