* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}


.wrapper {
    display: block;
    margin-left: 150px;
}


.index-links div {

    margin: 16px 16px 0;
    width: calc(100% - 32px);
    /*height: 150px;*/
    height: fit-content;
    background-color: #f2f2f2;
    overflow: hidden;
}


.index-links div h3 {
    font-family: Bahnschrift;
    font-size: 28px;
    font-weight: 600;
    line-height: 100px;
    /*margin-left: 20px;*/
    color: #111;
    text-align: left;
    text-transform: uppercase;
}

.index-links div img {
    margin: 10px 10px 10px 10px;
    float: left;

}

.slider {
    overflow: hidden;
    height: 400px;
}

.slider figure div {
    float: left;
    width: 20%;
}

.slider figure img {
    width: fit-content;
    float: left;
}

.slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s sldr infinite;
}

@keyframes sldr {
    0% {
        left: 0;
    }
    10% {
        left: 50%;
    }
    20% {
        left: -100%;
    }
    40% {
        left: -200%;
    }
    60% {
        left: -300%;
    }
    80% {
        left: -400%;
    }
    90% {
        left: -450%;
    }
    95% {
        left: -500%
    }
}