* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}


.wrapper {
    display: block;
    margin-left: 150px;
}


.index-links div {

    margin: 16px 16px 0;
    width: calc(100% - 32px);
    /*height: 150px;*/
    height: fit-content;
    background-color: #f2f2f2;
    overflow: hidden;
}


.index-links div h3 {
    font-family: Bahnschrift;
    font-size: 28px;
    font-weight: 600;
    line-height: 100px;
    /*margin-left: 20px;*/
    color: #111;
    text-align: left;
    text-transform: uppercase;
}

.index-links div img {
    margin: 10px 10px 10px 10px;
    float: left;
}

.index-links div div {
    text-align: right;
    float: right;
}

