#bodyMain {
}

    #bodyMain #siteLogo {
        width: 240px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        margin-top: -10px;
        margin-bottom: -10px;
    }

        #bodyMain #siteLogo img {
            width: 240px;
            height: auto;
        }

    #bodyMain #regPanel {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        background-color: #fff3da;
        padding: 8px;
        width: 280px;
        margin-top: 10px;
        box-sizing: border-box;
        border-radius: 6px;
        box-shadow: 0 0px 6px 0 #5f94f8, 0 10px 15px 0 rgba(126, 126, 126, 0.12), 0 -2px 6px 1px rgba(199, 199, 199, 0.55) inset, 0 2px 4px 2px rgba(255, 255, 255, 0.83) inset;
    }

        #bodyMain #regPanel h1 {
            
            margin-top: 10px;
            margin-bottom: 10px;
            font-family: Cambria;
            font-size: 35px;
            color: #3D4597;
        }

        #bodyMain #regPanel #nameField, #userField, #passField1, #passField2 {
            background-color: #d2dfff;
            width: 240px;
            box-sizing: border-box;
            border-radius: 5px;
            padding: 3px;
        }

        #bodyMain #regPanel h2 {
            color: black;
            float:left;
            font-size: 15px;
            margin-left: 14px;
            margin-bottom: 2px;
        }

        #bodyMain #regPanel #regButton {
            background-color: #F3781E;
            top: 100px;
            margin-top: 15px;
            font-size: 18px;
            width: 50%;
            border-radius: 5px;
            padding: 2px;
        }

    #bodyMain #regPanel div#acceptEULA {
        margin-top:10px;


    }
